<%- include('partials/header.ejs') %>
<section class="form__login">
  <h1>Forgot Password</h1>

  <form action="/auth/forgot-password" method="post">
    <!-- POPUP MESSAGE -->
    <% if (typeof forgotPasswordFlash1 !== 'undefined') { %>
    <div class="form__group">
      <p class="error"><%= forgotPasswordFlash1 %></p>
    </div>
    <% } %>

    <div class="form__group">
      <label for="email">Email</label>
      <input
        autocomplete="off"
        type="email"
        placeholder="Enter your email"
        name="email"
        id="email"
        value="<%= email = typeof email === 'undefined' ? '' : email  %>"
      />
      <% if (typeof alert !== "undefined" && alert.email) { %>
      <small> <%= alert.email.msg %> </small>
      <% } %>
    </div>

    <div class="form__group">
      <button type="submit" class="btn btn__form--login">Reset Password</button>
    </div>

    <div class="form__group">
      <p>Already got an account? <a href="/auth/login">Log in</a></p>
    </div>
  </form>
</section>
<%- include('partials/footer.ejs') %>
