<%- include('partials/header.ejs') %>
<section class="form__login">
  <h1>Reset Password</h1>

  <form action="" method="post">
    <div class="form__group">
      <p>
        Reset password for <%= email = typeof email === 'undefined' ? '' : email
        %>
      </p>
    </div>

    <div class="form__group">
      <label for="password">Password</label>
      <input
        autocomplete="off"
        type="password"
        placeholder="Enter your new password"
        name="password"
        id="password"
      />
      <% if (typeof alert !== "undefined" && alert.password) { %>
      <small> <%= alert.password.msg %> </small>
      <% } %>
    </div>

    <div class="form__group">
      <label for="passwordConfirmation">Confirm Password</label>
      <input
        autocomplete="off"
        type="password"
        placeholder="Confirm your password"
        name="passwordConfirmation"
        id="passwordConfirmation"
      />
      <% if (typeof alert !== "undefined" && alert.passwordConfirmation) { %>
      <small> <%= alert.passwordConfirmation.msg %> </small>
      <% } %>
    </div>

    <div class="form__group">
      <button type="submit" class="btn btn__form--login">
        Confirm Reset Password
      </button>
    </div>

    <div class="form__group">
      <p>Already got an account? <a href="/auth/login">Log in</a></p>
    </div>
  </form>
</section>
<%- include('partials/footer.ejs') %>
